.header-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: calc(100vw - 25px);
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.header-bar h1 {
  font-size: 1.25em;
  font-weight: lighter;
}
.header-bar h1 > span {
  font-weight: bold;
}

.header-bar .menu-toggler {
  cursor: pointer;
  font-size: 2em;
  margin-right: 20px;
  margin-top: 7.5px;
}
