.recognition-on {
  width: 12px;
  height: 12px;
  background-color: rgba(224, 36, 36, 1);
  animation: pulse 1.5s infinite;
}

.recognition-on.active {
  visibility: visible;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(224, 36, 36, 0.1);
  }
  100% {
    box-shadow: 0 0 10px 1px rgba(224, 36, 36, 1);
  }
}
