.chat-container .chat-footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-container .chat-footer button.toggle-record {
  border-radius: 3px 0px 0px 3px;
}

.chat-container .chat-footer button svg {
  stroke-width: 2;
  width: 1.25em;
  height: 1.25em;
}

.chat-events {
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  overflow-y: scroll;
  padding: 5px 15px;
  scrollbar-base-color: transparent;
}

.chat-event-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.chat-event-wrapper.entry-exit {
  justify-content: center;
}

.chat-event-wrapper.message.own-event {
  justify-content: flex-end;
}

.chat-event-wrapper.message .message-event {
  width: max-content;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  border-radius: 5px;
}

.chat-event-wrapper.message .message-event p {
  margin: 0;
}