.container {
  width: clamp(200px, 1200px, 100vw);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  min-height: calc(100vh - 105px);
}

.crossed {
  border-radius: 50%;
  background:
    linear-gradient(to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 1px),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) calc(50% + 1px),
      rgba(0, 0, 0, 0) 100%);
}